@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@layer base {
  body {
    @apply bg-[#f5f5f5] text-[#1f2937];
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
}

.nr-input-field input::placeholder {
    opacity: 0;
}
.nr-input-field .nr-input-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: 0.2s;
}
.nr-input-field {
    position: relative;
}
.nr-input-field input:not(:placeholder-shown) + .nr-input-label,
.nr-input-field input:focus + .nr-input-label {
    top: 11px;
    font-size: 11px;
}
.nr-input-field input:focus{
    border: 1px solid #4496f6;
}
.nr-input-field.nr-select-field .nr-input-label {
    top: 11px;
    font-size: 11px;
}
